:root {
    --background-color: floralwhite;
    --background-color-1: #F3FCF4;
    --theme-color: #20BDBE;
    --dark-green: #012D2C;
    --white: #FFFFFF;
    --yellow: #FAED25;
    --bright-green: #65CCB7;
    --background-img-color: rgb(235, 235, 237);
    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

body {
    background-color: var(--background-color);
}

.nav {
    position: fixed;
    z-index: 100;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-around;
    padding: 0 32px;
    height: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-weight: 600;
    text-align: center;
}

#logo__paika {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logo h1:hover {
    color: gray;
}

.nav__menu-dropdown {
    position: absolute;
    z-index: 1000;
    width: 30px;
    height: 30px;
    left: 2.8%;
    cursor: pointer;
}

.nav__menu-dropdown::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    z-index: 1000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    top: 15px;
    transition: 0.3s ease;
    pointer-events: none;
}

.nav__menu-dropdown.active::before {
    top: 20px;
    transform: rotate(-225deg);
}

.nav__items {
    position: relative;
    display: block;
    top: 52px;
    left: 1%;
    transition: 0.5s ease-out;
    background-color: #fff;
    width: 200px;
    height: 460px;
    display: none;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    animation: animate 300ms ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    70% {
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.nav__item {
    list-style-type: none;
    padding: 20px 0;
    transition: 0.2s ease-in;
}

.nav__item-link span:hover {
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    transform: scaleX(0);
    border-bottom: 1px solid #002e25;
    color: green;
}

.nav__item-link {
    text-decoration: none;
    color: rgb(92, 92, 92);
    padding: 7px 15px;
}

.profile__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__item {
    list-style-type: none;
}

.profile__item-link {
    text-decoration: none;
    color: rgb(92, 92, 92);
    margin: 0 10px;
}

.profile__item-link span:hover {
    border-bottom: 1px solid #002e25;
    color: green;
}

.product-info-quantity {
    width: 39px;
}


/* container */

.ordered__products-description {
    display: flex;
}

.product-description--img {
    text-align: flex-start;
}

.product-description--info {
    text-align: flex-start;
}

.product-description--options {
    text-align: flex-start;
}

.icon-cart-tittle {
    color: var(--theme-color);
    margin: 0 20px;
}

.container {
    margin-top: 53px;
}

.cart-items {
    display: flex;
    margin: 20px 0;
}

.table__border {
    display: flex;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2% 0;
}

.table__border-img {
    align-items: center;
}

form {
    width: 100%;
}

.total__price-payment {
    background-color: ghostwhite;
    box-shadow: var(--box-shadow);
    margin-top: 26px;
    bottom: 0;
    transition: background .1s cubic-bezier(.4, 0, .6, 1);
    border-radius: 5px;
}

.wrapper__deleteAll {
    display: flex;
    justify-content: flex-end;
}

.deleteAll-btn {
    background-color: #DD4124;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.deleteAll-btn:hover {
    background-color: #b72f43;
    transition: 0.2s all;
}

.update_btn {
    padding: 8px 12px;
    background-color: #EFC050;
    border: none;
    transition: .5s ease-in-out;
}

.update_btn:hover {
    background-color: #c7982a;
}

.removeProduct {
    padding: 8px 7px;
    background-color: #DD4124;
    text-decoration: none;
    font-size: 12px;
    color: white;
    transition: .1s ease-out;
}

.removeProduct:hover {
    background-color: #c32c12;
}


/* footer */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* cart */

.cart-container {
    position: relative;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    margin: auto;
    border-radius: collapse;
}

.wrapper-cart__info {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 20px 0;
}

.cart__info-wrapper {
    padding-left: 20px;
}

.cart__info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #40DFEF;
    font-weight: normal;
}

.cart__info img {
    width: 150px;
    border: 2px solid #187498;
}

td {
    padding: 10px 5px;
}

tr {
    background-color: white;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

.total__price {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.total__price table {
    border-top: 3px solid #36dd0d;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

td:last-child {
    text-align: right;
}

.total__price-payment {
    right: 0;
}

.cart__info-options {
    display: flex;
    flex-wrap: wrap;
}

.cart__info-options-update {
    padding: 10px 20px;
    color: black;
    background-color: #e8ca23;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border: none;
}

.cart__info-options-delete {
    padding: 10px 20px;
    color: white;
    background-color: #d83939;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.cart__info-options-update:hover {
    background-color: #F9D923;
}

.cart__info-options-delete:hover {
    background-color: #EB5353;
}

.cart__info-input {
    width: 40px;
    position: absolute;
}